<div class="flex flex-col gap-y-3 items-center w-full rounded py-3">
  <div class="flex w-full justify-center gap-x-8 h-10">
    <div class="flex items-center border border-black w-[9.5rem] relative">
      <i [ngClass]="{'text-red-700': characterSavingThrows.strength.proficient}"
        class="fa-solid fa-hand-fist text-xl ml-3 text-gray-500"></i>
      <p class="w-full text-center">Fuerza</p>
      <div class="w-8 border border-black rounded-full absolute right-[-1rem] bg-white">
        <p class="text-center text-xl">{{characterSavingThrows.strength.value}}</p>
      </div>
    </div>
    <div class="flex items-center border border-black w-[9.5rem] relative">
      <i [ngClass]="{'text-red-700': characterSavingThrows.intelligence.proficient}"
        class="fa-solid fa-hand-fist text-xl ml-3 text-gray-500"></i>
      <p class="w-full text-center">Inteligencia</p>
      <div class="w-8 border border-black rounded-full absolute right-[-1rem] bg-white">
        <p class="text-center text-xl">{{characterSavingThrows.intelligence.value}}</p>
      </div>
    </div>
  </div>
  <div class="flex w-full justify-center gap-x-8 h-10">
    <div class="flex items-center border border-black w-[9.5rem] relative">
      <i [ngClass]="{'text-red-700': characterSavingThrows.dexterity.proficient}"
        class="fa-solid fa-hand-fist text-xl ml-3 text-gray-500"></i>
      <p class="w-full text-center">Destreza</p>
      <div class="w-8 border border-black rounded-full absolute right-[-1rem] bg-white">
        <p class="text-center text-xl">{{characterSavingThrows.dexterity.value}}</p>
      </div>
    </div>
    <div class="flex items-center border border-black w-[9.5rem] relative">
      <i [ngClass]="{'text-red-700': characterSavingThrows.wisdom.proficient}"
      class="fa-solid fa-hand-fist text-xl ml-3 text-gray-500"></i>
      <p class="w-full text-center">Sabiduría</p>
      <div class="w-8 border border-black rounded-full absolute right-[-1rem] bg-white">
        <p class="text-center text-xl">{{characterSavingThrows.wisdom.value}}</p>
      </div>
    </div>
  </div>
  <div class="flex w-full justify-center gap-x-8 h-10">
    <div class="flex items-center border border-black w-[9.5rem] relative">
      <i [ngClass]="{'text-red-700': characterSavingThrows.constitution.proficient}"
      class="fa-solid fa-hand-fist text-xl ml-3 text-gray-500"></i>
      <p class="w-full text-center">Constitución</p>
      <div class="w-8 border border-black rounded-full absolute right-[-1rem] bg-white">
        <p class="text-center text-xl">{{characterSavingThrows.constitution.value}}</p>
      </div>
    </div>
    <div class="flex items-center border border-black w-[9.5rem] relative">
      <i [ngClass]="{'text-red-700': characterSavingThrows.charisma.proficient}"
        class="fa-solid fa-hand-fist text-xl ml-3 text-gray-500"></i>
      <p class="w-full text-center">Carisma</p>
      <div class="w-8 border border-black rounded-full absolute right-[-1rem] bg-white">
        <p class="text-center text-xl">{{characterSavingThrows.charisma.value}}</p>
      </div>
    </div>
  </div>
</div>