<div class="flex p-3 gap-y-5 justify-center flex-col mt-5">

  @if($characterLoading()){
    <div class="flex flex-col pt-10">
      <div class="flex flex-1 items-center justify-center">
    
        <app-loading [loadingStatus]="true" [noFullScreen]="true"></app-loading>
      </div>
    </div>
  }@else {
    <div class="w-full flex text-center">
      <button (click)="returnNavigation()">
        <i class="fa-solid fa-arrow-left text-lg"></i>
      </button>
      <p class="text-xl text-center w-3/4 max-w-md m-auto">{{$character() | characterDisplayInfo}}</p>
    </div>
    <div class="w-full max-w-md m-auto flex flex-col gap-y-5">
      <app-character-view-basic-data 
        (onHpChanged)="hpChanged($event)"
        [character]="$character()">
      </app-character-view-basic-data>
      <app-character-view-stats-data [characterAttributes]="$character().attributes"></app-character-view-stats-data>
      <app-character-view-throws-data [characterSavingThrows]="$character().savingThrows"></app-character-view-throws-data>
    </div>
    <div class="shadow-button h-12 w-12 absolute top-[1rem] right-3 rounded-full flex justify-center items-center bg-red50">
      <i class="fa-solid fa-book-sparkles text-2xl text-white"></i>
    </div>
  }

</div>