.border-artificier{
  border-color: #d2984c;
}
.border-bard{
 border-color: #c28ca3;
}
.border-barbarian{
 border-color: #ea8966;
}
.border-bloodHunter{
 border-color: #ac5f4f;
}
.border-cleric{
 border-color: #b3aea8;
}
.border-druid{
 border-color: #aca36a;
}
.border-fighter{
 border-color: #ac876a;
}
.border-monk{
 border-color: #93b1ac;
}
.border-paladin{
 border-color: #cbac71;
}
.border-ranger{
 border-color: #7b9474;
}
.border-rouge{
 border-color: #6d6357;
}
.border-sorcerer{
 border-color: #e95f54;
}
.border-warlock{
 border-color: #744d74;
}
.border-wizard{
 border-color: #6675a0;
}