<table class="skeleton-table">
    <thead class="skeleton-table__header">
        <tr>
            <th class="skeleton-table__header-column">Id</th>
            <th class="skeleton-table__header-column">Email</th>
            <th class="skeleton-table__header-column">Name</th>
            <th class="skeleton-table__header-column">Options</th>
        </tr>
    </thead>
    <tbody class="skeleton-table_body">
        @for(row of rows; track row.id){
            <tr class="skeleton-table__row">
                <td class="skeleton-table__body-column"></td>
                <td class="skeleton-table__body-column"></td>
                <td class="skeleton-table__body-column"></td>
                <td class="skeleton-table__body-column"></td>
            </tr>
        }
        <!-- Add more rows as needed -->
    </tbody>
</table>