<div class="paginator" >
  <div class="paginator__container">
    @if(currentPage > 1){
      <div class="paginator__number arrow paginator__button" (click)="previousClick()" >
        <i class="fa-light fa-arrow-left"></i>
        <span class="paginator__arrow-text ">Previous</span> 
      </div>
    }
    
    <!-- <div class="paginator__number">
      1
    </div>
    <div class="paginator__number">
      2
    </div>
    
    <div class="paginator__number paginator__active">
      3
    </div>
    
    <div class="paginator__number">
      4
    </div>
    
    <div class="paginator__number">
      540
    </div> -->
    
    <div class="paginator__number arrow paginator__button" (click)="nextClick()">
      <span class="paginator__arrow-text">Next</span> 

      <i class="fa-thin fa-arrow-right"></i>
    </div>
  </div>
</div>