<div class="flex flex-col gap-y-6 items-center w-full rounded py-3">
  <div class="flex flex-wrap gap-x-5 justify-center" >
    <div
      class="border border-black rounded w-24 h-24 
      relative justify-center items-center">
      <p class="w-full text-center font-semibold p-2">Fuerza</p>   
      <p class="text-center text-2xl">{{characterAttributes.strength.modifier}}</p>
      <p class="
        bg-white
        rounded-full
        flex justify-center items-center
        absolute bottom-[-1rem] left
        left-1/4
        border border-black text-center text-lg
        w-[2.75rem] h-8
        ">{{characterAttributes.strength.base}}</p>
    </div>
    <div
      class="border border-black rounded w-24 h-24 
      relative justify-center items-center">
      <p class="w-full text-center font-semibold p-2">Destreza</p>
      <p class="text-center text-2xl">{{characterAttributes.dexterity.modifier}}</p>
      <p class="
        bg-white
        rounded-full
        flex justify-center items-center
        absolute bottom-[-1rem] left
        left-1/4
        border border-black text-center text-lg
        w-[2.75rem] h-8
        ">{{characterAttributes.dexterity.base}}</p>       
    </div>
    <div
      class="border border-black rounded w-24 h-24 
      relative justify-center items-center">
      <p class="w-full text-sm text-center font-semibold p-2">Constitución</p>           
      <p class="text-center text-2xl">{{characterAttributes.constitution.modifier}}</p>
      <p class="
        bg-white
        rounded-full
        flex justify-center items-center
        absolute bottom-[-1rem] left
        left-1/4
        border border-black text-center text-lg
        w-[2.75rem] h-8
        ">{{characterAttributes.constitution.base}}</p>
    </div>
  </div>
  <div class="flex flex-wrap gap-x-5 justify-center" >
    <div
      class="border border-black rounded w-24 h-24 
      relative justify-center items-center">
      <p class="w-full text-center font-semibold p-2">Inteligencia</p>   
      <p class="text-center text-2xl">{{characterAttributes.intelligence.modifier}}</p>
      <p class="
        bg-white
        rounded-full
        flex justify-center items-center
        absolute bottom-[-1rem] left
        left-1/4
        border border-black text-center text-lg
        w-[2.75rem] h-8
        ">{{characterAttributes.intelligence.base}}</p>
    </div>
    <div
      class="border border-black rounded w-24 h-24 
      relative justify-center items-center">
      <p class="w-full text-center font-semibold p-2">Sabiduría</p>
      <p class="text-center text-2xl">{{characterAttributes.wisdom.modifier}}</p>
      <p class="
        bg-white
        rounded-full
        flex justify-center items-center
        absolute bottom-[-1rem] left
        left-1/4
        border border-black text-center text-lg
        w-[2.75rem] h-8
        ">{{characterAttributes.wisdom.base}}</p>       
    </div>
    <div
      class="border border-black rounded w-24 h-24 
      relative justify-center items-center">
      <p class="w-full text-sm text-center font-semibold p-2">Carisma</p>           
      <p class="text-center text-2xl">{{characterAttributes.charisma.modifier}}</p>
      <p class="
        bg-white
        rounded-full
        flex justify-center items-center
        absolute bottom-[-1rem] left
        left-1/4
        border border-black text-center text-lg
        w-[2.75rem] h-8
        ">{{characterAttributes.charisma.base}}</p>
    </div>
  </div>
</div>